@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portal Solidário - Hackathon">
    <meta name="author" content="team6 - uai-x-men">

    <title>Portal Solidário</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/clean-blog.min.css" rel="stylesheet" />

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Principal", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Registrar", "Index", "Registrar")
                    </li>
                    <li>
                        @Html.ActionLink("Entrar", "Index", "Entrar")
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro-header" style="background-image: url('../../Content/img1/about-bg.jpg'); ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Portal Solidário</h1>
                        <hr class="small">
                        <span class="subheading">UAI X-Men</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <h1> Registrar </h1>
            </br> </br>
        </div>
        <div class="row">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Nome</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="registerNome" placeholder="Nome Completo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" id="registerEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Perfil</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="registerPerfil">
                            <option value="1">Pessoa</option>
                            <option value="2">Empresa</option>
                        </select>
                    </div>
                </div>
                </br>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Senha</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="registerSenha" placeholder="Senha">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="registerSenha2" placeholder="Confirmar Senha">
                    </div>
                </div>
                <hr/>

                <div class="form-group">
                    <label class="col-sm-3 control-label">CEP</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" maxlength="9" id="registerCep" placeholder="CEP">
                    </div>
                </div>
                </br>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Estado</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="registerEstado"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Cidade</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="registerCidade"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Bairro</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="registerBairro" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Logradouro</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="registerLogradouro"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Numero</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="registerNumero" />
                    </div>
                </div>

                </br>
                <div class="pull-right">
                    <button type="button" id="buttonSubmit" class="btn btn-default">Criar Usuario</button>
                </div>

            </form>

        </div>
    </div>

    <hr>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/clean-blog.min.js"></script>
    <script src="~/Scripts/site.js"></script>
</body>

</html>
